[Desktop Entry]
Type=Application
Name=iCloud Calendar
Comment=View and sync your iCloud calendars
Exec=@APPLICATION_DIR@/open-calendar.sh %u
Icon=office-calendar
Terminal=false
StartupWMClass=LinuxICloudCalendar
Categories=Office;Calendar;
MimeType=x-scheme-handler/icloud-calendar;
StartupNotify=true
