[Desktop Entry]
Type=Application
Name=iCloud Calendar
Comment=View and sync your iCloud calendars
Exec=@APPLICATION_DIR@/open-calendar.sh
Icon=office-calendar
Terminal=false
StartupWMClass=LinuxICloudCalendar
Categories=Office;Calendar;
StartupNotify=true
